.race-card {
  background-size: cover;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}  
  .race-name {
    color: #d40e0e; /* F1 red */
    margin-bottom: 8px;
  }
  
  .circuit-name {
    font-style: italic;
    margin-bottom: 4px;
  }
  
  .date {
    font-weight: bold;
  }
  
  