@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Arimo:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Libre+Franklin:wght@400;700&family=Cinzel:wght@400;700&family=Playfair+Display:wght@400;700&family=Open+Sans:wght@400;700&family=Lobster:wght@400;700&family=Merriweather:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Lora:wght@400;700&family=Alegreya:wght@400;700&family=Josefin+Sans:wght@400;700&family=Rubik:wght@400;700&family=Poppins:wght@400;700&family=Abril+Fatface:wght@400;700&family=Kaushan+Script:wght@400;700&display=swap');

.Amiri { font-family: 'Amiri', serif; }
.Arimo { font-family: 'Arimo', sans-serif; }
.M_PLUS_Rounded_1c { font-family: 'M PLUS Rounded 1c', sans-serif; }
.Noto_Sans_SC { font-family: 'Noto Sans SC', sans-serif; }
.Libre_Franklin { font-family: 'Libre Franklin', sans-serif; }
.Cinzel { font-family: 'Cinzel', serif; }
.Playfair_Display { font-family: 'Playfair Display', serif; }
.Open_Sans { font-family: 'Open Sans', sans-serif; }
.Lobster { font-family: 'Lobster', cursive; }
.Merriweather { font-family: 'Merriweather', serif; }
/* Note: Adjusted to Libre Baskerville for a closer match to Baskerville */
.Baskerville { font-family: 'Libre Baskerville', serif; }
.Lora { font-family: 'Lora', serif; }
.Alegreya { font-family: 'Alegreya', serif; }
.Josefin_Sans { font-family: 'Josefin Sans', sans-serif; }
.Rubik { font-family: 'Rubik', sans-serif; }
.Poppins { font-family: 'Poppins', sans-serif; }
.Abril_Fatface { font-family: 'Abril Fatface', cursive; }
.Kaushan_Script { font-family: 'Kaushan Script', cursive; }


.race-card {
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* For positioning the overlay */
  color: white; /* Set text color for better visibility */
}

.race-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: 10px;
}

.race-card-content {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}

.race-name {
  color: #d40e0e; /* F1 red */
  margin-bottom: 8px;
  font-size: 3em; /* Larger font size for better visibility */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Text shadow for legibility */
}

.circuit-name, .locality, .country, .date, .time, .user-time, .race-countdown, .quali {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Text shadow for legibility */
  background-color: #d40e0e;
  
}



.circuit-name {
  font-size: 1.6em; /* Larger font size for better visibility */
  margin-bottom: 8px;

}

.locality, .country {
  font-weight: lighter;
  margin-bottom: 8px;
}


.user-time {
  font-size: 1.5em; /* Larger font size for better visibility */
  font-weight: bold;
}

.time {
  
  font-weight: lighter;
}



.date {
  font-weight: bold;
}

.race-countdown {
  font-size: 1.5em; /* Larger font size for better visibility */
  font-weight: bold;
}


.quali {
  padding-bottom: 1em;


}

.practice {
  font-weight: lighter;
  background-color: #d40e0e;
 
}
.race-card.closest-future-race {
  border: 3px solid red; /* Adjust the border as needed */
  box-shadow: 0 0 8px red, 0 0 15px red, 0 0 20px red; /* Creates a glowing effect */
  animation: glow-animation 900ms infinite alternate;
}

@keyframes glow-animation {
  from {
    box-shadow: 0 0 8px red, 0 0 15px red, 0 0 20px red;
  }
  to {
    box-shadow: 0 0 12px red, 0 0 25px red, 0 0 30px red;
  }
}



.finished-message {
  background-color: #d40e0e;
}

.top-drivers {
  background-color: #d40e0e;
}